#ascontainer{
    display:flex;
    height:100vh;
    width:100vw;
    
}
#personal{
    height:340px;
    width:650px; 
    margin-top: 50px; 
    margin-left: 120px;
    background-color: #D3D3D3;
    border-radius: 15px;
    
}
#academic{
    height:380px;
    width:650px; 
    margin-top: 50px; 
    margin-left: 120px;
    background-color: #D3D3D3;
    border-radius: 15px;
}
#address{
     height:380px;
    width:650px; 
    margin-top: 50px; 
    margin-left: 120px;
    background-color: #D3D3D3;
    border-radius: 15px;
}
#ascontent{
    height:100vh;
    width:100vw;
    overflow-y: auto;
    overflow-x:hidden;
}
.asmatter {
    margin-top: 15px;
    margin-bottom:10px;
    margin-left: 30px;
  }
  .wide-input{
    width:360px;
    height: 25px;
    margin-left:30px ;
  }
  #addstudent{
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: 20px;
    height:40px;
    width: 140px;
    border-radius: 7px;
    background-color:aqua;
    color:black;
    border-color:aqua;
    font-size: 20px;
  }
  #addstudent:hover{
    cursor: pointer;
    
  }